# APP
APP_URL=

PORT=

# DATABASE
DATABASE_URL=

# CACHE
REDIS_URL=

# TRIPO
TRIPO_API_KEY=

# AIML
AIML_API_KEY=

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# GOOGLE STORAGE
GCS_PROJECT_ID=
GCS_BUCKET=
GCS_PUBLIC_BASE_URL=
GCS_CREDENTIALS_JSON_BASE64=

# STRIPE
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PUBLISHABLE_KEY=